.UpperPanel{
  align-items: center;
  justify-content: center;
  display :flex;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  flex-direction: row;
  position: absolute;
  top: 0%;
  width: 50%;
  height: 7%;
  left:25%;
  background-color: gray;
}
.ServerSidePanel{
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 100%;
  left: 0%;
}
.ClientSidePanel{
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content:start;
  width: 10%;
  height: 100%;
  left: 0%;
}